:root {
	font-size: 11px;
	--blue: #08f;
	--white: #fff;
	--black: #000;
	--lightgray: #444;
	--darkgray: #777777;
	--text-sm: 1.25rem;
	--text-md: 1.5rem;
	--text-lg: 1.875rem;
	overflow: hidden;
}

body {
	background-color: var(--white);
	color: var(--lightgray);
	margin: 0;
	font-family:Tahoma, "Geneva", sans-serif;		
}

a {
	color: var(--blue);
}

button {
	height: 40px;
	background: transparent;
	color: var(--white);
	outline: 2px solid var(--white);
	font-size: var(--text-md);
	text-align: center;
	/* visibility: hidden; */
	margin-top: 3rem
}

h1 {
	color: var(--white);
	font-size: var(--text-lg);
	margin-bottom: 3rem

}

h2{
	margin-bottom: 2rem

}

p {
	color: var(--darkgray);
	font-size: var(--text-sm);
	margin-bottom: 0.5rem;
	margin-right: 2rem;
}

img {
	margin: 1rem;
}

.overlay {
	position: absolute;
	width: 100vw;
	height:100vh;
	display: flex;
	flex-flow: column;
	padding: 0 1rem;
	
	align-items: center;
	justify-content: center;
	background-color: var(--black);
	color: var(--white);

	transition: opacity 5s;
}

div{

	display: flex;
	flex-flow: column;
	padding: 0 1rem;
	
	align-items: center;
	justify-content: center;
}